HISTOGRAM /eos/cms/store/group/phys_susy/razor/Run2Analysis/Limits/RazorInclusive2016/04Jul2018/T5ttcc/RazorInclusiveBoost/T5ttcc_MultiJet_SevenJet_LeptonMultiJet_LeptonSevenJet_results.root xsecUL_Obs_T5ttcc_MultiJet_SevenJet_LeptonMultiJet_LeptonSevenJet
EXPECTED /eos/cms/store/group/phys_susy/razor/Run2Analysis/Limits/RazorInclusive2016/04Jul2018/T5ttcc/RazorInclusiveBoost/T5ttcc_MultiJet_SevenJet_LeptonMultiJet_LeptonSevenJet_results.root Exp_T5ttcc_MultiJet_SevenJet_LeptonMultiJet_LeptonSevenJet ExpPlus_T5ttcc_MultiJet_SevenJet_LeptonMultiJet_LeptonSevenJet ExpMinus_T5ttcc_MultiJet_SevenJet_LeptonMultiJet_LeptonSevenJet kRed kOrange
EXPECTED2 /eos/cms/store/group/phys_susy/razor/Run2Analysis/Limits/RazorInclusive2016/04Jul2018/T5ttcc/RazorInclusiveBoost/T5ttcc_MultiJet_SevenJet_LeptonMultiJet_LeptonSevenJet_results.root Exp_T5ttcc_MultiJet_SevenJet_LeptonMultiJet_LeptonSevenJet ExpPlus2_T5ttcc_MultiJet_SevenJet_LeptonMultiJet_LeptonSevenJet ExpMinus2_T5ttcc_MultiJet_SevenJet_LeptonMultiJet_LeptonSevenJet kGray+1 kGray
OBSERVED /eos/cms/store/group/phys_susy/razor/Run2Analysis/Limits/RazorInclusive2016/04Jul2018/T5ttcc/RazorInclusiveBoost/T5ttcc_MultiJet_SevenJet_LeptonMultiJet_LeptonSevenJet_results.root Obs_T5ttcc_MultiJet_SevenJet_LeptonMultiJet_LeptonSevenJet ObsPlus_T5ttcc_MultiJet_SevenJet_LeptonMultiJet_LeptonSevenJet ObsMinus_T5ttcc_MultiJet_SevenJet_LeptonMultiJet_LeptonSevenJet kBlack kBlue-9
EXPECTEDEXTRA /eos/cms/store/group/phys_susy/razor/Run2Analysis/Limits/RazorInclusive2016/04Jul2018/T5ttcc/T5ttcc_MultiJet_SevenJet_LeptonMultiJet_LeptonSevenJet_results.root Exp_T5ttcc_MultiJet_SevenJet_LeptonMultiJet_LeptonSevenJet Exp_T5ttcc_MultiJet_SevenJet_LeptonMultiJet_LeptonSevenJet Exp_T5ttcc_MultiJet_SevenJet_LeptonMultiJet_LeptonSevenJet kBlue kBlue
PRELIMINARY 
LUMI 35900
ENERGY 13
BOXES razor_0L+1L
